# Team owners
# TODO: add member 2 GitHub username when available.

* @Niharikaneelu @Rithika-Sankar-006 @meenakshi17-ooo

/simulation/ @Niharikaneelu
/detection/ @Rithika-Sankar-006
/containment/ @meenakshi17-ooo
/dashboard/ @Niharikaneelu @Rithika-Sankar-006 @meenakshi17-ooo
/docs/ @Niharikaneelu @Rithika-Sankar-006 @meenakshi17-ooo
