# Team owners

* @Niharikaneelu @Rithika-Sankar-006 @meenakshi17-ooo

/simulation/ @Niharikaneelu
/detection/ @ashik-pn
/containment/ @meenakshi17-ooo
/dashboard/ @Rithika-Sankar-006
/docs/ @Niharikaneelu @Rithika-Sankar-006 @meenakshi17-ooo
